
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to 'Click here to generate Superhero', root_path%></h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer"><%= link_to 'Create a whole superhero team', home_team_path%></div>
</div>
